In [1]:
import requests
from time import sleep
import json

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid', font_scale=1.3, palette='Set2')

In [2]:
URL = 'https://api.hh.ru/vacancies'

params = {
    'text': "Data Scientist",
    'area': 1,
    'page': 0,
    'per_page': 10
}

req = requests.get(URL, params)
data = json.loads(req.content.decode())

In [3]:
data.keys()

dict_keys(['items', 'found', 'pages', 'per_page', 'page', 'clusters', 'arguments', 'alternate_url'])

In [4]:
#посмотрим описание первой вакансии
data['items'][0]

{'id': '78876532',
 'premium': False,
 'name': 'Эконометрист/Data scientist (Junior/Middle) в консалтинг',
 'department': None,
 'has_test': False,
 'response_letter_required': False,
 'area': {'id': '1', 'name': 'Москва', 'url': 'https://api.hh.ru/areas/1'},
 'salary': {'from': 40000, 'to': None, 'currency': 'RUR', 'gross': False},
 'type': {'id': 'open', 'name': 'Открытая'},
 'address': {'city': 'Москва',
  'street': 'Замоскворецкая линия',
  'building': 'метро Маяковская',
  'lat': 55.769808,
  'lng': 37.596192,
  'description': None,
  'raw': 'Москва, Замоскворецкая линия, метро Маяковская',
  'metro': None,
  'metro_stations': [],
  'id': '1000883'},
 'response_url': None,
 'sort_point_distance': None,
 'published_at': '2023-04-10T10:13:48+0300',
 'created_at': '2023-04-10T10:13:48+0300',
 'archived': False,
 'apply_alternate_url': 'https://hh.ru/applicant/vacancy_response?vacancyId=78876532',
 'insider_interview': None,
 'url': 'https://api.hh.ru/vacancies/78876532?host=hh.ru',
 'adv_response_url': None,
 'alternate_url': 'https://hh.ru/vacancy/78876532',
 'relations': [],
 'employer': {'id': '2724615',
  'name': 'БСТ Менеджмент-Консалтинг',
  'url': 'https://api.hh.ru/employers/2724615',
  'alternate_url': 'https://hh.ru/employer/2724615',
  'logo_urls': {'240': 'https://hhcdn.ru/employer-logo/2030643.jpeg',
   'original': 'https://hhcdn.ru/employer-logo-original/397097.jpg',
   '90': 'https://hhcdn.ru/employer-logo/2030642.jpeg'},
  'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=2724615',
  'trusted': True},
 'snippet': {'requirement': 'Экономическое или техническое образование. (предпочтительно: ВШЭ, РЭШ, МГУ, МФТИ и др. технические вузы, но главное - желание). Знания эконометрики, математической статистики...',
  'responsibility': 'Построение моделей эластичности спроса на банковские продукты и моделей прогнозирования в ритейле в т.ч. с учётом гео-аналитических данных. '},
 'contacts': None,
 'schedule': None,
 'working_days': [],
 'working_time_intervals': [],
 'working_time_modes': [],
 'accept_temporary': True,
 'professional_roles': [{'id': '10', 'name': 'Аналитик'}],
 'accept_incomplete_resumes': False}

In [5]:
# сколько найдено вакансий
data['found']

297

In [6]:
# страниц в результатах поиска
data['pages']

30

In [7]:
df = pd.json_normalize(data['items'])
df.head()

,id,premium,name,department,has_test,response_letter_required,response_url,sort_point_distance,published_at,created_at,...,address.metro.station_name,address.metro.line_name,address.metro.station_id,address.metro.line_id,address.metro.lat,address.metro.lng,department.id,department.name,insider_interview.id,insider_interview.url
0,78876532,False,Эконометрист/Data scientist (Junior/Middle) в ...,NaN,False,False,None,None,2023-04-10T10:13:48+0300,2023-04-10T10:13:48+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79110745,False,Data Engineer,NaN,False,False,None,None,2023-04-10T14:42:13+0300,2023-04-10T14:42:13+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,78764927,False,Разработчик в области машинного обучения и бол...,NaN,False,False,None,None,2023-04-09T12:40:25+0300,2023-04-09T12:40:25+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,78448054,False,"Специалист/Инженер (AI, Data Scientist, Big Da...",NaN,False,False,None,None,2023-04-10T12:16:52+0300,2023-04-10T12:16:52+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77954455,False,Data Scientist (Middle+),NaN,False,False,None,None,2023-04-09T10:06:46+0300,2023-04-09T10:06:46+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Для получения полного описания вакансии потребуется задать отдельный запрос, используя ее id.

In [ ]:
df['snippet.requirement'].iloc[0]

In [ ]:
df['snippet.responsibility'].iloc[0]

In [ ]:
vacancy = df['id'].iloc[0]
vacancy_url = f'https://api.hh.ru/vacancies/{vacancy}'

req = requests.get(vacancy_url)
vacancy_info = json.loads(req.content.decode())
vacancy_info